<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Terms and conditions
        </h1>
        <p class="lede">
            In accepting the general terms and conditions of use, I agree to:

        </p>
        <ul class="list-bullet">
            <li>Use DfE systems for authorised purposes only.</li>
            <li>Comply with the provisions of the Data Protection Act 1998 in respect of all personal information
                processed.
            </li>
            <li>Report malfunctions, incidents and any observed or suspected security breaches immediately to DfE.</li>
            <li>Log in to Secure Access from only one PC at a time with my personal login details.</li>
            <li>Never share my login details with any other person.</li>
            <li>Open each DfE system on a separate browser tab within a single browser session.</li>
            <li>Log out of all DfE systems in a structured manner (including Secure Access) and by closing down the
                browser tab for a single system or the browser session to close all systems.
            </li>
            <li>Comply with any controls and restrictions applied, at any time, to DfE systems and never attempt to
                circumvent these.
            </li>
            <li>Comply with any additional specific terms of use policy applied to any individual system as these may
                differ between systems.
            </li>
            <li>If an approver, I agree to create a separate user account on Secure Access for each person within my
                organisation or designated agents which I authorise to have access to DfE systems via SA.
            </li>
            <li>I understand my usage of Secure Access and DfE systems may be monitored for the purpose of ensuring the
                security of the systems.
            </li>
        </ul>
    </div>
</div>
