<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            You have successfully changed your email address
        </h1>
        <p class="govuk-body-l">Your account has been updated to your new email address.</p>
        <p class="govuk-body">You can now use your new email address and existing password to sign-in.</p>
        <a href="/" class="govuk-button">Continue to my profile</a>
    </div>
</div>