<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            You have successfully changed your email address
        </h1>
        <p class="lede">Your account has been updated to your new email address.</p>
        <p>You can now use your new email address and existing password to sign-in.</p>
        <a href="/" class="button">Continue to my profile</a>
    </div>
</div>