<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            Change my email address
        </h1>
        <p class="govuk-body-l">This will change the email address you use when signing in.</p>
    </div>
</div>
<div class="grid-row">
    <div class="col-12">
        <form method="post" id="form-change-password">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />

            <div class="govuk-form-group <%= (locals.validationMessages.newEmail !== undefined) ? 'govuk-form-group--error' : '' %>">
                <label class="govuk-label govuk-label--s" for="newEmail">
                    New email address
                </label>
                <% if (locals.validationMessages.newEmail) { %>
                    <span id="validation-new-email" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.newEmail %>
                    </span>
                <% } %>
                <div>
                    <input type="text" id="newEmail" name="newEmail" value="<%=newEmail%>" class="govuk-input govuk-!-width-one-half"
                        <% if (locals.validationMessages.newEmail) { %> aria-invalid="true" aria-describedby="validation-new-email" <% } %>/>
                </div>
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button">Continue</button>
            </div>
        </form>
    </div>
</div>