<div class="grid-row">
    <div class="col-8">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">
                Registration complete
            </h1>
            <p class="font-medium">
                Your DfE Sign-in account is now ready to use. You’ll need your email address and the password you just setup.
            </p>
        </div>
        <p><a class="button" href="<%=redirectUri%>?outcome=new_account">Return to <%=clientName%></a></p>
    </div>
</div>