<div class="grid-row">
    <div class="col-8">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">
                Registration complete
            </h1>
            <p class="font-medium">
                Your DfE Sign-in account is ready to use. You will need your email address and password to sign in to your DfE Sign-in account.
            </p>
        </div>
        <p><a class="button" href="<%=redirectUri%>">Return to <%=clientName%></a></p>
    </div>
</div>
