<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Email address already in use
        </h1>
        <p class="govuk-body">This email address has already been assigned to a DfE Sign-in account.</p>
        <p class="govuk-body">If you think there is a problem then please contact the <a href="<%=locals.urls.help%>/contact-us">DfE Sign-in service desk</a>.</p>
    </div>
</div>