<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Email address is already in use
        </h1>
        <p>The email address associated to this invitation has already been assigned to a new DfE Sign-in account.</p>
        <p>If you think there is a problem then please contact the <a href="<%=locals.urls.help%>/contact">DfE Sign-in service desk</a>.</p>
    </div>
</div>