<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            Invalid request
        </h1>
        <p class="govuk-body">client_id or redirect_uri is invalid</p>
    </div>
</div>