<div class="grid-row">
    <div class="col-12">
        <h1 class="heading-xlarge">
            Invitation not found
        </h1>
        <p>Cannot find invitation. Please check your URL</p>
    </div>
</div>