<% if (locals.flash.info) { %>
<div class="notification notification-success" tabindex="-1">
    <%=locals.flash.info%>
</div>
<% } %>

<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            My profile
        </h1>
        <dl class="inline">
            <dt>First name</dt>
            <dd><%= locals.user.given_name%></dd>
            <dt>Last name</dt>
            <dd><%= locals.user.family_name%></dd>
            <dt>Email</dt>
            <dd><%= locals.user.email%></dd>
        </dl>
    </div>
    <div class="col-4">
        <aside>
            <h2 class="heading-medium">Actions</h2>
            <nav class="subnav">
                <ul>
                    <li><a href="/change-password">Change my password</a></li>
                    <li><a href="/change-email">Change my email address</a></li>
                </ul>
            </nav>
        </aside>
    </div>
</div>